@model IEnumerable<InteractHealthProDatabase.Models.Client>

@{
    ViewData["Title"] = "Index";
    ViewData["ViewFolder"] = "Client";
}

<h1>All Clients</h1>

<p>
  <a asp-action="CreateOrEdit" class="btn btn-primary customColorDarkBlue btn-sm col-auto mx-2">Add New Client</a>

  
  <a asp-action="ArchiveClient" asp-controller="Client" class="btn btn-primary customColorDarkBlue btn-sm col-auto mx-2">View Archived Clients</a>

  
<button id="toggleTableButton" class="btn btn-primary customColorDarkBlue mb-3">Table View</button>
<button id="toggleCardButton" class="btn btn-primary customColorDarkBlue mb-3">Card View</button>


</p>



<!-- Search input field -->
<div>
    <div class="form-group">
        <input type="text" id="search" placeholder="Search by info" class="form-control" />
    </div>
</div>




<!-- Table displaying client information -->
<div id="tableView">
    <table class="content-table">
        <thead>
            <tr>
                <td colspan="7">
                    <div class="row">
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Id)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.ContactName)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.CellPhone)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Telephone)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Fax)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Address)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.City)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Region)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Country)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.PostalCode)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.Referral)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.ReferralDate)</strong>
                        </div>
                        <div class="col px-2">
                            <strong>@Html.DisplayNameFor(model => model.DateOfLoss)</strong>
                        </div>
                        <div class="col px-2">

                            <strong>Action Buttons:</strong>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>

             @foreach (var item in Model.Where(client => client.Status == "Active"))
            {
                <tr>
                    <td colspan="7" style="border: none;">
                        <div>
                            <div>

                                <div class="row">
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.ContactName)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.CellPhone)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Fax)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.City)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Region)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Country)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.PostalCode)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.Referral)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.ReferralDate)
                                    </div>
                                    <div class="col px-2">
                                        @Html.DisplayFor(modelItem => item.DateOfLoss)
                                    </div>
                                    <div class="col px-2">

                                        <!-- Action Buttons -->
                                    <div class="btn-group" role="group" aria-label="Toolbar with button groups to edit, get details or to set status">
                                        <a asp-action="CreateOrEdit" asp-route-id="@item.Id" class="btn btn-warning customColorWarning" aria-label="Edit" title="Edit" data-toggle="tooltip" data-placement="top">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info customColorInfo" aria-label="Details" title="Details" data-toggle="tooltip" data-placement="top">
                                            <i class="fa-solid fa-info"></i>
                                        </a>
                                        <button onclick="setInactive('@item.Id')" class="btn btn-danger customColorDanger" aria-label="Set Inactive" title="Set Inactive" data-toggle="tooltip" data-placement="top">
                                            <i class="fa-regular fa-ban"></i>
                                        </button>
                                    </div>
                        <!-- End of Action Buttons -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

                          
  </table>
</div> 



  
  
  <div id="cardView" style=" display: none; margin-top: 20px;">
    <div class="row">
        @foreach (var item in Model.Where(client => client.Status == "Active"))
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ContactName)</h5>
                        <p class="card-text"><strong>ID:</strong> @Html.DisplayFor(modelItem => item.Id)</p>
                        <p class="card-text"><strong>Email:</strong> @Html.DisplayFor(modelItem => item.Email)</p>
                        <p class="card-text"><strong>Cell Phone:</strong> @Html.DisplayFor(modelItem => item.CellPhone)</p>
                        <p class="card-text"><strong>Telephone:</strong> @Html.DisplayFor(modelItem => item.Telephone)</p>
                        <p class="card-text"><strong>Fax:</strong> @Html.DisplayFor(modelItem => item.Fax)</p>
                        <p class="card-text"><strong>Address:</strong> @Html.DisplayFor(modelItem => item.Address)</p>
                        <p class="card-text"><strong>City:</strong> @Html.DisplayFor(modelItem => item.City)</p>
                        <p class="card-text"><strong>Region:</strong> @Html.DisplayFor(modelItem => item.Region)</p>
                        <p class="card-text"><strong>Country:</strong> @Html.DisplayFor(modelItem => item.Country)</p>
                        <p class="card-text"><strong>Postal Code:</strong> @Html.DisplayFor(modelItem => item.PostalCode)</p>
                        <div>
                            <!-- Action Buttons -->
                        <div class="btn-group" role="group" aria-label="Toolbar with button groups to edit, get details or to set status">
                            <a asp-action="CreateOrEdit" asp-route-id="@item.Id" class="btn btn-warning customColorWarning" aria-label="Edit" title="Edit" data-toggle="tooltip" data-placement="top">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info customColorInfo" aria-label="Details" title="Details" data-toggle="tooltip" data-placement="top">
                                <i class="fa-solid fa-info"></i>
                            </a>
                            <button onclick="setInactive('@item.Id')" class="btn btn-danger customColorDanger" aria-label="Set Inactive" title="Set Inactive" data-toggle="tooltip" data-placement="top">
                                <i class="fa-regular fa-ban"></i>
                            </button>
                        </div>
                        <!-- End of Action Buttons -->
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<!-- Font Awesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">



<!-- JavaScript to toggle views -->
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Function to toggle card view
        function toggleCardView() {
            document.getElementById("cardView").style.display = "block";
            document.getElementById("tableView").style.display = "none";
        }

        // Function to toggle table view
        function toggleTableView() {
            document.getElementById("cardView").style.display = "none";
            document.getElementById("tableView").style.display = "block";
        }

        // Attach click events to the buttons
        document.getElementById("toggleCardButton").addEventListener("click", toggleCardView);
        document.getElementById("toggleTableButton").addEventListener("click", toggleTableView);

        toggleTableView();
    });

</script>
  
  
<!-- JavaScript for setting client status to inactive -->
<script>
    function setInactive(id) {
    if (confirm("Are you sure you want to set the client status to inactive?")) {
        let token = $('input[name="__RequestVerificationToken"]').val();   // AntiForgeryToken
        $.ajax({
            type: 'POST',
            url: "@Url.Action("SetInactive")",
            data: {
                __RequestVerificationToken: token,
                id: id
            },
            success: function (response) {
                if (response.result === true) {
                    console.log("Client ID=" + id + " status set to inactive successfully");
                    // Set notification message after successful status update
                    var notifyMsg = "Client ID=" + id + " status set to inactive successfully";
                    // Display toastr notification
                    toastr.success(notifyMsg);
                    // Reload the page after a short delay
                    setTimeout(function () {
                        location.reload(true);
                    }, 500);
                } else {
                    console.log("Error in setting client status to inactive");
                }
            },
            complete: function () {
                // If the request is complete, regardless of success or failure, reload the page after a short delay
                setTimeout(function () {
                    location.reload(true);
                }, 500);
            }
        });
    }
}

</script>  